@charset "EUC-KR";	
.start {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.start:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.start:active {
	position:relative;
	top:1px;
}

.name {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:42px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.name:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.name:active {
	position:relative;
	top:1px;
}




#box {
    border:0;
}
#wrap {
	display: grid;
	grid-template-columns: repeat(2, 50%);
    position: relative;
    width: fit-content; /* wrap에 속한 div의 넓이+margin값을 더한 넓이와 높이값 */
    height: 100%;
    margin: auto;
}
#wrap > div > a > img {
	display: block;
	max-width: 100%;
	width: auto;
	height: 100%;
}

#wrap > div {
	margin: 3px;
}
